@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&famil=Roboto&display=swap');

*, *::after, *::before{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  font-size: 16px;
}

body {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* background-color: #eee; */
}

#root{
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App{
  width: 100%;
  max-width: 800px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #333;
  box-shadow: 0 0 15pxgray;
}

.Footer{
  width: 100%;
  background-color: #66d8f5;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.Header h1{
  font-size: 1.2rem;
  /* font-family: 'Roboto', sans-serif; */

}

.Nav{
  width: 100%;
  max-width: 800px;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  background-color: #66d8f5;
}

.pagenition{
  padding: .5rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #333;
  flex-wrap: nowrap;
  align-items: center;
  vertical-align: center;
}

.pagenition li{
  color: #fff;
  list-style-type: none;
  padding-right: 1rem;
  /* padding: .5rem; */
}

.pagenition li a{
  text-decoration: none;
  color: #fff;
  padding: .5rem;
  overflow: hidden;
/* }
.pagenition li:hover a{
  background-color: white;
  color: #333;
  cursor: pointer; */
}
.pagenition li:hover a, 
.pagenition li:focus a{
  background-color: #eee;
  color: #333;
  cursor: pointer;
}



.searchForm input[type='text']{
  padding: .5rem;
  padding-left: 1rem;
  border-radius: 1rem;
  width: 100%;
  /* padding: 1rem; */
  font-family: 'Open Sans', sans-serif;
  outline: none;
  border: 1px solid #66d8f5;
  

}

.searchForm label{
  position: absolute;
  left: -999999px;
}

.Home, .PostPage, .NotFound, .About{
  flex-grow: 1;
  width: 100%;
  font-size: 1.2rem;
  background-color: #fff;
  overflow-y: auto;
  padding: 1rem;
}



/* Post styles */
.post{
  width: 100%;
  padding-bottom: 1rem;
  margin-top: 1rem;
  border-bottom: 1px solid lightgray;

}

.post a,
.post a:visited{
  color: #000;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

.post:first-child{
  margin-top: 0;
}

.post:last-child{
  border-bottom: none;
}

.postData{
  font-size: .8rem;
  margin: .5rem 0;
  font-family: 'Poppins', sans-serif;
}

.postBody{
  margin: .75rem 0;
}

.deleteBtn{
  font-size: 1rem;
  padding: .5rem;
  width: 20%;
  background-color: red;
  color: white;
  outline: none;
  border: none;
  margin-top: 1rem;
}

.deleteBtn:hover,
.deleteBtn:focus{
  /* box-shadow: -5px 5px 5px rgba(0, 0, 0, .4); */
  box-shadow: 0px 0px 5px rgba(0, 0, 0, .4);
}

.deleteBtn:active{
  box-shadow: -5px 5px 5px rgba(0, 0, 0, .4);

}





footer{
  background-color: #ddd;
  width: 100%;
  font-size: .75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: .35rem;
}

.github{
  left: 50%;
}